:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --fg-invert: 0 0% 100%;

  --card: 0 0% 100%;
  --card-fg: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-fg: 0 0% 3.9%;

  --secondary: 0 0% 96.1%;
  --secondary-fg: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-fg: 0 0% 45.1%;

  --segment: 0 0% 96.1%;
  --segment-fg: 0 0% 45.1%;
  --segment-active: 0 0% 100%;
  --segment-active-fg: 0 0% 3.9%;

  --accent: 0 0% 94.5%;
  --accent-dark: 0 0% 89.8%;
  --accent-fg: 0 0% 9%;

  --solid: 0 0% 9%;
  --solid-fg: 0 0% 98%;

  --primary-light: 180 50% 95%;
  --primary-pale: 180 53% 86%;
  --primary: 181 100% 29%;
  --primary-dark: 180 100% 26%;

  --destructive-light: 359 100% 97%;
  --destructive-pale: 359 100% 94%;
  --destructive: 360 100% 45%;
  --destructive-dark: 360 100% 35%;

  --warning-light: 49 90% 95.4%;
  --warning-pale: 49 91% 89%;
  --warning: 31 92% 45%;
  --warning-dark: 31 92% 35%;

  --success-light: 143 85% 96%;
  --success-pale: 145 92% 91%;
  --success: 140 100% 27%;
  --success-dark: 140 100% 17%;

  --info-light: 208 100% 97%;
  --info-pale: 221 91% 91%;
  --info: 210 92% 45%;
  --info-dark: 210 92% 35%;

  --body: 0 0% 98.3%;
  --button: 0 0% 100%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 60%;

  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --fg-invert: 0 0% 3.9%;

  --card: 0 0% 3.9%;
  --card-fg: 0 0% 98%;

  --popover: 0 0% 3.9%;
  --popover-fg: 0 0% 98%;

  --secondary: 0 0% 14.9%;
  --secondary-fg: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-fg: 0 0% 63.9%;

  --segment: 0 0% 10%;
  --segment-fg: 0 0% 63.9%;
  --segment-active: 0 0% 20.8%;
  --segment-active-fg: 0 0% 98%;

  --accent: 0 0% 16.9%;
  --accent-dark: 0 0% 20%;
  --accent-fg: 0 0% 98%;

  --solid: 0 0% 98%;
  --solid-fg: 0 0% 9%;

  --primary-light: 189 100% 7%;
  --primary-pale: 187 92% 12%;
  --primary: 179 67% 40%;
  --primary-dark: 175 52% 65%;

  --destructive-light: 358 76% 10%;
  --destructive-pale: 357 89% 16%;
  --destructive: 358 100% 81%;
  --destructive-dark: 358 100% 91%;

  --warning-light: 64 100% 6%;
  --warning-pale: 60 100% 12%;
  --warning: 46 87% 65%;
  --warning-dark: 46 87% 75%;

  --success-light: 150 100% 6%;
  --success-pale: 147 100% 12%;
  --success: 150 86% 65%;
  --success-dark: 150 86% 75%;

  --info-light: 215 100% 8.8%;
  --info-pale: 216 100% 16%;
  --info: 216 87% 70%;
  --info-dark: 216 87% 76%;

  --body: 0 0% 6%;
  --button: 0 0% 9%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 50%;
}